<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evan.arouter_share" >
    <application android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.evan.arouter_share.business.share.ShareActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.evan.normal_share.ShareActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
